.grid-container {
    display: grid;
    width: 100px;
    grid-gap: 10px; 
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    position: relative; 
}
.grid-item{
    border-radius: 4px; 
    box-shadow: 0px 0px 2px gray;
}

button {
    width: 100px; 
    height: 30px; 
    background-color: purple;
    color: white; 
    border-radius: 4px; 
    border: none;
}
#speedDialParentDiv{
    position: absolute;
    bottom: 10px; 
    right: 20px;
    z-index: 10; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
#speedDialOptions{
    display: flex;
    flex-direction: column;
}
.speedDial {
    background-color: lightblue;
    color: black; 
    border-color: black;
    border-style: solid; 
    border-radius: 100%; 
    width: 100px; 
    height: 100px; 
    box-shadow: 0 0 4px black;
    transition: background 0.9s;
}
.speedDial:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
    transform: rotate(45deg);
}

.dialButtonImage{
    width: 75%; 
    height: 75%;
}
.speedDialChild{
    background-color: lightblue;
    color: black; 
    border-color: black;
    border-style: solid; 
    box-shadow: 0 0 4px black;
    border-radius: 100%; 
    width: 40px;
    height: 40px; 
    margin: 10px; 
}

.speedDialChild:hover{
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
